# тут ничего секретного если запускать с mailpit, можно использовать с этими значениями в .env

DB_USER=postgres
DB_PASSWORD=postgres
DB_HOST=database  # имя контейнера в docker-compose
DB_PORT=5432
DB_NAME=registration_db

SMTP_HOST=mailpit
SMTP_PORT=1025
SMTP_USER=
SMTP_PASSW=

DOMAIN_NAME=localhost:8000